@import '~antd/dist/antd.dark.css';

.footer{
    background-color: #1f1f1f;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 570px) {
    .content{
        padding-bottom: 3vh;
    }
    .footer {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
    }
}
@media screen and (max-height: 610px) {
    .content{
        padding-bottom: 3vh;
    }
    .footer {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
    }
}